<div id="header-nav-menu"
     fxLayout="row"
     fxLayoutAlign="space-between end">
  <a routerLink="/">
    <img src="assets/images/ystlc-logo.png"/>
  </a>
  <span class="fill-space"></span>
  <div id="headerLoginAndMenu" fxLayout="column">
    <div fxLayout="row"
         fxLayoutAlign="center center">
      <app-google-signin></app-google-signin>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button id="manageButton" mat-button [matMenuTriggerFor]="manageMenu">Manage</button>
      <mat-menu #manageMenu="matMenu">
        <button mat-menu-item routerLink="/court">Court</button>
        <button mat-menu-item>Municipality</button>
      </mat-menu>
      <button id="reportsButton" mat-button [matMenuTriggerFor]="reportsMenu">Reports</button>
      <mat-menu #reportsMenu="matMenu">
        <button mat-menu-item>Text Messaging</button>
        <button mat-menu-item>Google Analytics</button>
      </mat-menu>
    </div>
  </div>
</div>
