<div id="header-nav-menu" class="flex-container"
     fxLayout="row"
     fxLayoutAlign="space-between end">
  <a routerLink="/">
    <img src="assets/images/ystlc-logo.png"/>
  </a>
  <span class="fill-space"></span>
  <button id="manageButton" mat-button [matMenuTriggerFor]="manageMenu">Manage</button>
  <mat-menu #manageMenu="matMenu">
    <button mat-menu-item routerLink="/court">Court</button>
    <button mat-menu-item>Municipality</button>
  </mat-menu>
  <button id="reportsButton" mat-button [matMenuTriggerFor]="reportsMenu">Reports</button>
  <mat-menu #reportsMenu="matMenu">
    <button mat-menu-item>Text Messaging</button>
    <button mat-menu-item>Google Analytics</button>
  </mat-menu>
</div>
