<h2 mat-dialog-title>Edit Judge Name</h2>

<mat-dialog-content>
  <mat-form-field [ngClass]="{'warn':!judgeNameOK}">
    <input matInput placeholder="Judge's Name" [(ngModel)]="judgeName">
  </mat-form-field>
  <p *ngIf="!judgeNameOK" class="warn">Judge name is not unique</p>
</mat-dialog-content>

<mat-dialog-actions>

  <button
    mat-raised-button
    color="primary"
    (click)="checkJudgeName()">OK</button>

  <button
    mat-raised-button
    color="secondary"
    mat-dialog-close>Cancel</button>

</mat-dialog-actions>
